.navigation{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.menuToggle{
    cursor:pointer;
    width:24px;
    height:21px;
    position:relative;
}

.menuToggle .hamburger{

    width:24px;
    height:21px;

}

.hamburger{
    position:absolute;
    z-index:1100;
    transition:0.7 all ease;


}


.menu{
    display:none;
   
    
}

.menu.open{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0px;
    right: 0px;
    background: rgba(11, 13, 23, 0.15);
    gap:32px;
    backdrop-filter: blur(40px);
    padding: 133px 32px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width:254px;
    height:100vh;
    transition:0.7s all ease;
    overflow-x: hidden;


    @starting-style{
    right:-100%;
    }
    
}


.menu li a{
    width:117%;
    color:var(--white);
    font-size: 16px;
    font-weight: 400;
    display: flex;
    gap:16px;
transition: all 1.3s ease;

@starting-style{
    transform:translateX(200px)
}

}

.menu li a span{
    font-weight: 700;
    letter-spacing: 2.7px;
}

@media screen and (min-width:768px){
.navigation{
    width:100%;
}

.menuToggle{
    display:none;
}

.menu,.menu.open{
    display:flex;
    flex-direction: row;
    width:100%;
    position:relative;
    justify-content: flex-end;
    align-items: center;
    height:96px;
    background-color: grey;
    gap:30px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(40px);
    padding-right:40px;
}
.menu.open{
    padding:0;
    padding-right:40px;;
    
}

.menu li a{
    gap:12px;   
    width:100%;
}

}

@media  screen and (min-width:1440px) {
.navigation{
    min-width:644px;
    width:100%;
    justify-content: flex-end;
    padding-left:80px;
    
}
.menu,.menu.open{
    max-width:724px;
    padding-left:159px;
    position:relative
}

.menu::before,.menu.open::before{
    content:"";
    position:absolute;
    width:560px;
    height:1px;
    background-color: rgba(var(--white),0.25);
    left:-540px;
}

    
.menu{
  padding-right:64px;
}

}