.crewPage{
    background: url(/crew/background-crew-mobile.jpg) ;
    background-position:top;
    background-size:cover;
    background-repeat: no-repeat;
    width:100%;
    min-height:100vh;
    transition: all 0.5s ease ;

    flex-direction: column;
    align-items: center;
color:#fff;


    @starting-style{
        opacity:0;
    }
}

.main{
    padding:24px;   
    display:flex;
    flex-direction: column;
}

.subtitle{
    text-align: center;
    display:flex;
    gap:24px;
    justify-content: center;
    font-weight: 400;
    font-size: 16px;
}

.subtitle span{
    opacity:0.25
}

.crewPage header{
    width:100%;
}


.content__container{
    margin-top: 64px;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:37px;
}


.role{
    font-size: 18px;
    color:#fff;
    opacity:0.5
}
.content{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:24px
}

.content__header{
    display:flex;
    flex-direction: column;
    gap:10px;
    align-items: center;
}

.title{
    font-size: 24px;
    font-weight: 400;
}

.first{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:80px
}

.paragraph{
    color: var(--color-light-blue, #D0D6F9);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    /* mobile/body */
    font-family: Barlow;
    font-size: var(--font-size-mobile-body, 15px);
    font-style: normal;
    font-weight: 400;
    line-height: 180%; /* 27px */
}

.pagination{
    display:flex;
    gap:16px
}

.circle{
    display:block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color:white; 
    opacity:0.127;
}
.active{
    opacity:1;
}

.image__container{
    max-width: 271px;
  
}

.image__container img{
    width:100%
}

