.header{
    background-color: transparent;
   padding:24px;
    display:flex;
    color:#fff;
    justify-content: space-between;
    align-items: center;
}



@media screen and (min-width:768px) {
    .header{
        padding:0;
        gap:40px;
        padding-left:40px;
    }
}


@media screen and (min-width:1440px){
    .header{
        width:100%;
        padding-top:40px;
        padding-left:64px;
        justify-content: space-between;
        gap:64px;
    }


}